<div class="text-container">
    <div class="text">
        <h1>About</h1>

        <h5>AutoCarePro is your one-stop destination for all things related to  car maintenance and care. <br> Whether you're 
            a seasoned car enthusiast or a novice looking to learn the basics,<br> we've got you covered. Our website is 
            dedicated to providing expert guidance and <br> valuable information to help you keep your vehicle in top
            condition and extend its lifespan.</h5>

    </div>
</div>

<div class="image-container">
    <div class="image">
        <img src="/assets/img/autoglymwht.png" alt="">
        <img src="/assets/img/diamondbrite2.png" alt="">
        <img src="/assets/img/zymol.png" alt="">
    </div>
</div>
<br> <br> <br>