.container {
    background-color: black;
    color: white;
    height: 200px;

}
.row{
    align-items: center;

}
.text{
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
.text2{
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1px;
}
.button{
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1px;

}
a{
    
        background-color: rgb(92, 91, 69);
        border-radius: 6%;
        color: white;
        text-align: center;
        height: 70px;
        width: 100px;
        padding: 5px;
        text-decoration: none;
    
    
}
.button a:hover{
    background-color: blueviolet;
}