<div class="container">
    <div class="row">
        <div class="text">
            <h2>We accomodate & create bespoke cleaning solutions tailored to
                you
            </h2>
        </div>
        <div class="text2">
            <h6>From small to full valets,<br>we even do trucks and caravans!</h6>
        </div>
        <div class="button">
            <a href="mailto:coastcarvalet@yahoo.co.uk?subject=Booking enquiry"
                class="btn btn-warning mb-2 btn-lg">Book Now</a>
        </div>
    </div>
</div>