<div class="container-big">
    <h2 class="pb-4">See what our customers had to say...</h2>

    <div class="testimonials">
        <div class="container">
            <blockquote class="blockquote">
                <p class="mb-0 px-3">
                    Peter came out & did a really good job. It’s good to find a reliable company these days.
                </p>
                <footer class="blockquote-footer mt-2">-Keith Powell</footer>
            </blockquote>
        </div>
        <div class="container">
            <blockquote class="blockquote">
                <p class="mb-0 px-3">
                    I've used this service a few times already and my car looks brand new every time.</p>
                <footer class="blockquote-footer mt-2">-Jonny
                </footer>
            </blockquote>
        </div>
        <div class="container">
            <blockquote class="blockquote">
                <p class="mb-0 px-3">
                    Contacted at the last minute, arrived early the next morning and did a great job
                </p>
                <footer class="blockquote-footer mt-2">-Claire
                </footer>
            </blockquote>
        </div>
        <div class="container">
            <blockquote class="blockquote">
                <p class="mb-0 px-3">
                    Peter valeted & washed my SUV the next morning even though the weather was cold and damp
                </p>
                <footer class="blockquote-footer mt-2">-Mike
                </footer>
            </blockquote>
        </div>
        <div class="container">
            <blockquote class="blockquote">
                <p class="mb-0 px-3">
                    Came at relatively short notice, did a superb job with no fuss. Highly recommended.
                </p>
                <footer class="blockquote-footer mt-2">-David
                </footer>
            </blockquote>
        </div>
        
    </div>
</div>
