<div class="title">
    <h2 class="pb-4">Take a look at what we offer...</h2>
</div>


<section id="services-section">
    <div class="container">
        
        <div class="row">
            <div class="service">
                <div class="service-inner">
                    <h3>Budget</h3>
                    <p class="price">from £28.00</p>
                    <ul>
                        <li>Pre-rinse vehicle</li>
                        <li>Wash & wax</li>
                        <li>Clean glass inside & out</li>
                        <li>Tyres dressed</li>
                        <li>Hoover interior</li>
                        <li>All rubbish removed</li>
                    </ul>
                    <a href="mailto:coastcarvalet@yahoo.co.uk?subject=Budget valet enquiry" class="btn btn-warning mb-2">Book Now</a>
                    <p class="description">Good for people on the move, who need a quick makeover</p>
                </div>
            </div>
            <!-- Repeat this block for the other services -->
            <div class="service">
                <div class="service-inner">
                    <h3>Budget</h3>
                    <p class="price">from £28.00</p>
                    <ul>
                        <li>Pre-rinse vehicle</li>
                        <li>Wash & wax</li>
                        <li>Clean glass inside & out</li>
                        <li>Tyres dressed</li>
                        <li>Hoover interior</li>
                        <li>All rubbish removed</li>
                    </ul>
                    <a href="mailto:coastcarvalet@yahoo.co.uk?subject=Budget valet enquiry" class="btn btn-warning mb-2">Book Now</a>
                    <p class="description">Good for people on the move, who need a quick makeover</p>
                </div>
            </div>
            <div class="service">
                <div class="service-inner">
                    <h3>Budget</h3>
                    <p class="price">from £28.00</p>
                    <ul>
                        <li>Pre-rinse vehicle</li>
                        <li>Wash & wax</li>
                        <li>Clean glass inside & out</li>
                        <li>Tyres dressed</li>
                        <li>Hoover interior</li>
                        <li>All rubbish removed</li>
                    </ul>
                    <a href="mailto:coastcarvalet@yahoo.co.uk?subject=Budget valet enquiry" class="btn btn-warning mb-2">Book Now</a>
                    <p class="description">Good for people on the move, who need a quick makeover</p>
                </div>
            </div>
            
        </div>
    </div>
</section>

<br> <br> <br> <br>