<div class="text-container">
    <div class="text">
        <h1>Welcome to, <br> CarWash.com</h1>
        
        <h5>-est 1990  a new way of <br> Car Services and Maintainence.</h5>
        <a href="mailto:ashish.12114307@lpu.in?subject=Booking enquiry"> Book Now</a>
    </div>
</div>

<div class="image-container">
    <div class="image">
        <img src="https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" width="700px">
    </div>
    
</div>
